{% extends "layout.html" %} {% block content %}

<div class="admin-jumbotron vertical-center">
  <div class="container platforms-add">
    <div class="row">
      <div class="col">
        <h1>Add platform</h1>
        {% with messages = get_flashed_messages(category_filter=["add"]) %} {%
        if messages %} {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <form action="/addplatform" method="POST" enctype="multipart/form-data">
          <div class="form-outline mb-4">
            <input class="form-control" type="text" name="name" required />
            <label class="form-label" for="name">Platform name</label>
          </div>
          <div class="form-outline mb-4">
            <input class="form-control" type="file" name="file" required />
            <label class="form-label" for="file">Platform image</label>
          </div>
          <input type="submit" value="Confirm" />
          <input
            type="hidden"
            name="csrf_token"
            value="{{ session.csrf_token }}"
          />
        </form>
      </div>
    </div>
  </div>
  <div class="container platforms-edit">
    <div class="row">
      <div class="col">
        <h1>Edit platform</h1>
        {% with messages = get_flashed_messages(category_filter=["edit"]) %} {%
        if messages %} {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <form
          action="/editplatform"
          method="POST"
          enctype="multipart/form-data"
        >
          Platform to edit:
          <select class="p-select-margin" name="id_edit" id="id_edit">
            {% for platform in platforms %}
            <option value="{{ platform.id }}" name="id_edit">
              {{ platform[1] }}
            </option>
            {% endfor %}
          </select>
          <div class="form-outline mb-4">
            <input class="form-control" type="text" name="name_edit" required />
            <label class="form-label" for="name">Platform name</label>
          </div>
          <div class="form-outline mb-4">
            <input class="form-control" type="file" name="file_edit" required />
            <label class="form-label" for="file">Platform image</label>
          </div>
          <input type="submit" value="Confirm" />
          <input
            type="hidden"
            name="csrf_token"
            value="{{ session.csrf_token }}"
          />
        </form>
      </div>
    </div>
  </div>
  <div class="container platforms-remove">
    <div class="row">
      <div class="col">
        <h1>Delete platform</h1>
        {% with messages = get_flashed_messages(category_filter=["delete"]) %}
        {% if messages %} {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <form action="/deleteplatform" method="POST">
          <select name="id" id="id">
            {% for platform in platforms %}
            <option value="{{ platform.id }}" name="id">
              {{ platform[1] }}
            </option>
            {% endfor %}
          </select>
          <input type="submit" value="Confirm" />
          <input
            type="hidden"
            name="csrf_token"
            value="{{ session.csrf_token }}"
          />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
