{% extends "layout.html" %} {% block content %}

<div class="jumbotron vertical-center">
  <div class="col float-container">
    <h1>My rated games</h1>
    <div class="container float-child">
      <div class="row bg-danger">
        <div class="col info-text-games">Title</div>
        <div class="col info-text-games">My rating</div>
      </div>
      {% for user_ratings in user_ratings %}
      <div class="row">
        <div class="col">{{ user_ratings.title }}</div>
        <div class="col">{{ user_ratings.rating }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
