{% extends "layout.html" %} {% block content %} {% if session.username %} 

<div class="jumbotron vertical-center">
  <div class="container">
    <h1 class="centerPlatformText">Select a platform</h1>
    <div class="row">
      {% for platforms in platforms %}
      <div class="col-4">
        <a href="/{{ platforms.name }}/games">
          <div class="card">
            <img src="/image/{{ platforms.id }}" class="card-img-top" />
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}

<div class="jumbotron vertical-center">
  <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-md">
          <p>
            You must be signed in to access platforms
          </p>
        </div>
        </div>
      </div>
    </div>
</div>

{% endif %} {% endblock %}